<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						SignUp
					</span>


        <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
          <input class="input100" type="text" name="username" [(ngModel)]="UserName" placeholder="Username">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-16"  data-validate = "Password is required">
          <input class="input100" type="text"  name="email" [(ngModel)]="Email" placeholder="Email" >
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-16"  data-validate = "Password is required">
          <input class="input100" type="password"  name="pass" [(ngModel)]="Password" placeholder="Password" >
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input m-b-16"  data-validate = "Password is required">
          <input class="input100" type="password"  name="passConfirm" [(ngModel)]="PasswordConfirm" placeholder="Password Confirm">
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div class="contact100-form-checkbox">
            <label class="label-checkbox100" *ngIf="response.StatusCode === false">
              {{response.Message}}
            </label>
          </div>

          <div>
            <a (click)="Login()" class="txt1">
              Registered? SignIn
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn" (click)="SignUp()">
            SignUp
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
