<div *ngIf="!loading" >
<ul *ngIf="TodosService.todos.length; else noTodos">
  <li *ngFor="let todo of TodosService.todos; let i =index">
    <span [class.done]="todo.completed">
      <input type = "checkbox" [checked]="todo.completed" (change)="onChange(todo.id)">
      <strong>{{i+1}}</strong>
      {{todo.title}}
    </span>
    <small *ngIf="todo.date">{{todo.date|date:'medium'}}</small>
    <small *ngIf="!todo.date">Somewhere at the past</small>
    <button class="rm" (click)="removeTodo(todo.id)">&times;</button>
  </li>
</ul>
<ng-template #noTodos> <p style="text-align: center;">No todos now</p></ng-template>
</div>
<p *ngIf="loading"> loading ...</p>
