<div>
  <app-login *ngIf="CurrentPage == 'Login'" (OnSwitch)="ChangePage($event)"></app-login>
  <p *ngIf="CurrentPage == 'Loading'" >Loading...</p>
  <app-main *ngIf="CurrentPage == 'Main'"></app-main>
  <app-sign-up *ngIf="CurrentPage == 'SignUp'"(OnSwitch)="ChangePage($event)"></app-sign-up>
</div>
